name: "Deploy"
on:
  push:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install terraform
        run: sudo snap install terraform --classic
       
      - name: Initialise terraform
        run: |
            terraform init
        env:
            ARM_ACCESS_KEY: ${{ secrets.ARM_ACCESS_KEY }}
            TF_VAR_do_token: ${{ secrets.TF_VAR_do_token }}
            
      - name: Deploy
        run: |
            terraform apply -auto-approve
        env:
            ARM_ACCESS_KEY: ${{ secrets.ARM_ACCESS_KEY }}
            TF_VAR_do_token: ${{ secrets.TF_VAR_do_token }}